$margin-side: 120px;
$padding-side: 15px;

body {
	display: flex;
	// font: 16px/1 sans-serif;
	// font-family: 'Lato', sans-serif;
	// font-family: 'Lato', 'Noto Sans KR';
	font-family: 'Open Sans', 'Noto Sans KR', sans-serif;
	margin: 0;
	padding: 0;
	background-color: white;
}

#root {
	width: 100%;
}

.overlay {
	height: 100%
}

// override bootstrap.min.css
.navbar {
	background: transparent;
	border: none;
}

header {
	position: relative;
	display: flex;
	align-items: center;
	// margin: 0px $margin-side;
	margin: 0px 200px;


	.logo {
		font-size: 27px;
		font-family: 'Open Sans';
		font-weight: 800;
		color: rgba(255, 255, 255, 1);
	}

	ul {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin: 0;

		li {
			list-style: none;
			padding: 0 10px;

			font-size: 16px;
			font-weight: bold;
			font-family: 'Raleway';
			a {
				color: rgba(255, 255, 255, 1);
			}
		}
	}
}

.home-contents {
	width: auto;
	height: auto;

	margin-top: -20px;
	display: flex;
	flex-direction: column;

	.bg_1 {
		width: 1600px;
		height: 700px;
		position: relative;
		display: block;
		order: 1;
		background: url('../images/bg_1.jpg') no-repeat;


		display: flex;
		flex-direction: column;
		justify-content: center;
		vertical-align: middle;

		span {
			color: white;
			padding: 20px 25px;
		}

		& span:first-child {
			font-family: 'Raleway';
			font-size: 30px;
		}

		& span:last-child {
			font-family: 'Lato';
			color: #8f9396;
			font-size: 24px;
		}
	}

	.bg_2 {
		width: 1600px;
		height: 350px;
		background-color: white;
		position: relative;
		order: 2;
		padding: 0px $margin-side;

		display: flex;
		flex-direction: row;
		align-content: space-between;

		.home-description {
			width: 350px;
			margin-top: 95px;
			padding: 0px 20px;

			display: flex;
			flex-direction: column;

			.home-description-title {
				font-family: 'Raleway';
				font-size: 20px;
				font-weight: bold;
				margin-bottom: 10px;
			}

			.home-description-seperator {
				border: 1px rgb(26, 188, 156) solid;
			}

			div ~ span {
				margin-top: 10px;
			}
		}
	}

	.markup {
		position: relative;
	}
}

footer {
	position: relative;
}
