@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
body {
  display: -webkit-box;
  display: flex;
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0; }

#root {
  width: 100%; }

a {
  color: rgba(242, 104, 43, 0.8);
  font-weight: 700;
  text-decoration: none; }

header {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 10px; }

ul {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center; }

li {
  list-style: none;
  padding: 0 10px; }
