body {
  display: -webkit-box;
  display: flex;
  font-family: 'Open Sans', 'Noto Sans KR', sans-serif;
  margin: 0;
  padding: 0;
  background-color: white; }

#root {
  width: 100%; }

.overlay {
  height: 100%; }

.navbar {
  background: transparent;
  border: none; }

header {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin: 0px 200px; }
  header .logo {
    font-size: 27px;
    font-family: 'Open Sans';
    font-weight: 800;
    color: white; }
  header ul {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin: 0; }
    header ul li {
      list-style: none;
      padding: 0 10px;
      font-size: 16px;
      font-weight: bold;
      font-family: 'Raleway'; }
      header ul li a {
        color: white; }

.home-contents {
  width: auto;
  height: auto;
  margin-top: -20px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column; }
  .home-contents .bg_1 {
    width: 1600px;
    height: 700px;
    position: relative;
    display: block;
    -webkit-box-ordinal-group: 2;
    order: 1;
    background: url("../images/bg_1.jpg") no-repeat;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    vertical-align: middle; }
    .home-contents .bg_1 span {
      color: white;
      padding: 20px 25px; }
    .home-contents .bg_1 span:first-child {
      font-family: 'Raleway';
      font-size: 30px; }
    .home-contents .bg_1 span:last-child {
      font-family: 'Lato';
      color: #8f9396;
      font-size: 24px; }
  .home-contents .bg_2 {
    width: 1600px;
    height: 350px;
    background-color: white;
    position: relative;
    -webkit-box-ordinal-group: 3;
    order: 2;
    padding: 0px 120px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    align-content: space-between; }
    .home-contents .bg_2 .home-description {
      width: 350px;
      margin-top: 95px;
      padding: 0px 20px;
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column; }
      .home-contents .bg_2 .home-description .home-description-title {
        font-family: 'Raleway';
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px; }
      .home-contents .bg_2 .home-description .home-description-seperator {
        border: 1px #1abc9c solid; }
      .home-contents .bg_2 .home-description div ~ span {
        margin-top: 10px; }
  .home-contents .markup {
    position: relative; }

footer {
  position: relative; }
